.navbar {
    display: flex;
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(255, 183, 0, 1) 0%, rgba(219, 219, 219, 1) 100%);
}

ul {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

li {

    padding: 10px;
    list-style-type: none;
    color: rgb(142, 102, 0);
    ;

}

nav li:hover {
    cursor: pointer;
    background-color: rgb(225, 161, 0);
}

nav li:active {
    cursor: pointer;
    background-color: rgb(163, 117, 0);
}